
  .background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
   
  .background::after {
    content: '';
    background: #4682B4;
    background: -moz-linear-gradient(top, #4682B4 0%, #4682B4 100%);
    background: -webkit-linear-gradient(top, #4682B4 0%, #4682B4 100%);
    background: linear-gradient(to bottom, #4682B4 0%, #4682B4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60a9ff', endColorstr='#4394f4', GradientType=0);
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
   
  .card {
    z-index: 2;
  }
   
  .checkbox-item {
    margin-bottom: 10px;
  }
  .checkbox-item input[type="checkbox"] {
    margin-right: 10px;
  }
  .checkbox-label {
    font-size: 16px;
  }
  