<section>
    <div class="container-fluid flex">
        <div class="cognitive-page flex">
            <div class="text">
                <h1><small>Cognitive Navigation</small></h1>
                <p>Aviation & Aerospace</p>
                <p>Technology Solutions & Consulting.</p>
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="text-uppercase text-center mb-5">Forgot Password</h2>

                    <!-- forgot-password.component.html -->
                    <div id="emailForm">
                        <form class="forms" (ngSubmit)="sendOTP()">
                            <div class="input-container mt-4">
                                <input type="email" name="email" placeholder="Email" class="form-control" [(ngModel)]="email">
                                <i class="bi bi-envelope-at-fill"></i>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Send OTP</button>
                            </div>
                        </form>
                    </div>

                    <div id="otpForm" style="display: none;">
                        <form class="forms" (ngSubmit)="submitOTP()">
                            <div class="input-container mt-4">
                                <input type="text" name="otp" placeholder="Enter OTP" class="form-control form-control-lg" [(ngModel)]="otp">
                                <i class="bi bi-key-fill"></i>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Submit OTP</button>
                            </div>
                        </form>
                    </div>

                    <div id="passwordForm" style="display: none;">
                        <form class="forms" (ngSubmit)="submitNewPassword()">
                            <div class="input-container mt-4">
                                <input type="password" name="newPassword" placeholder="New Password" class="form-control form-control-lg" [(ngModel)]="newPassword" (input)="validatePassword()">
                                <i class="bi bi-lock-fill"></i>
                            </div>
                            <div class="input-container mt-4">
                                <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control form-control-lg" [(ngModel)]="confirmPassword" (input)="validatePassword()">
                                <i class="bi bi-lock-fill"></i>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" [disabled]="!passwordsMatch" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
