input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.map-container {
  position: relative;
}
mat-form-field {
  width: 100%;
}
.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #C3B828;
  --mdc-radio-disabled-unselected-icon-color: #C3B828;
  --mdc-radio-unselected-hover-icon-color: #C3B828;
  --mdc-radio-unselected-icon-color: #C3B828;
  --mdc-radio-unselected-pressed-icon-color: #C3B828;
  --mdc-radio-selected-focus-icon-color: #C3B828;
  --mdc-radio-selected-hover-icon-color: #C3B828;
  --mdc-radio-selected-icon-color: #C3B828;
  --mdc-radio-selected-pressed-icon-color: #C3B828;
  --mat-radio-ripple-color: #C3B828;
  --mat-radio-checked-ripple-color: #C3B828;
  --mat-radio-disabled-label-color: ;
}
 