<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <form [formGroup]="TopElevationForm" autocomplete="on" novalidate>
        <div class="form-group">
          <label for="airportCITY">City</label>
          <mat-form-field appearance="outline">
            <mat-select id="airportCITY" formControlName="CITY">
              <mat-option value="" disabled selected>Select a City</mat-option>
              <mat-option *ngFor="let airport of airports" [value]="airport.airport_city">{{ airport.airport_city }}</mat-option>
            </mat-select>
            <mat-icon matSuffix color="primary">location_city</mat-icon>
          </mat-form-field>
        </div>

        <div class="form-group">
          <label for="airportName">Airport Name</label>
          <mat-form-field appearance="outline">
            <input matInput type="text" name="airportName" id="airportName" [value]="selectedAirportName" placeholder="Airport Name" readonly>
            <mat-icon matSuffix color="primary">local_airport</mat-icon>
          </mat-form-field>
        </div>

        <div class="form-group">
          <label>Select Site Location</label><br>
          <mat-radio-group formControlName="location">
            <mat-radio-button value="currentLocation" (click)="getLocation()" class="red-radio">Use current location</mat-radio-button>
            <mat-radio-button value="manual" class="red-radio">Enter location coordinate manually</mat-radio-button>
          </mat-radio-group>
        </div>
        <br>

        <div class="form-group">
          <label for="Site_latitude">Site Latitude</label>
          <mat-form-field appearance="outline">
            <input matInput type="text" [ngModel]="latitudeDMS" name="Latitude" formControlName="Latitude" id="Latitude" placeholder="Latitude">
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="Site_longitude">Site Longitude</label>
          <mat-form-field appearance="outline">
            <input matInput type="text" [ngModel]="longitudeDMS" name="Longitude" formControlName="Longitude" id="Longitude" placeholder="Longitude">
          </mat-form-field>
        </div>

        <div class="form-group">
          <label>Select Site Elevation</label><br>
          <mat-radio-group formControlName="elevationOption" (change)="onElevationOptionChange()">
            <mat-radio-button value="unknown" class="red-radio">Use airport elevation</mat-radio-button>
            <mat-radio-button value="known" class="red-radio">Enter site elevation manually</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="form-group">
          <label for="Site_Elevation">Site Elevation</label>
          <mat-form-field appearance="outline">
            <input matInput type="number" name="Site_Elevation" id="Site_Elevation" formControlName="Site_Elevation" placeholder="Site Elevation">
            <mat-icon matSuffix color="primary">edit</mat-icon>
          </mat-form-field>
        </div>

        <div class="d-grid gap-2 button-Top">
          <button type="submit" class="btn btn-outline-primary rounded-5 py-2 px-4" (click)="submitForm()">Submit</button>
        </div>
      </form>
    </div>

    <div class="col-lg-10">
      <div class="map-container">
        <div id="map" style="height: 90vh; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- Modal -->
<div class="modal" id="airportModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Closest Airports</h2>
        <!-- <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <div id="airportList"></div>
        <div class="d-grid gap-2 button-Top">
          <button type="button" class="btn btn-outline-primary rounded-5" (click)="handleAirportModalOK()">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Site Location Details Modal -->
<div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Site Location Details</h2>
        <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="mapData" style="display:none;">
          
        </div>
        

        <div>
          <b>We wish you success in your project.<br> Our range of services will assist you in WGS-84 Survey, NOC process support, Aeronautical study & Assessment. Please connect for details.</b><br>
          <button type="button" value="currentLocation" class="btn btn-outline-primary rounded-5" routerLink="/request-Service">Check-Out Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

