<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <form [formGroup]="TopElevationForm" autocomplete="on" novalidate>
        <div class="form-group mb-3">
          <label>Select Site Location</label><br>
          <div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="currentLocation" formControlName="location" value="currentLocation" (click)="getLocation()">
              <label class="form-check-label" for="currentLocation">Use current location</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="manual" formControlName="location" value="manual">
              <label class="form-check-label" for="manual">Enter location coordinate manually</label>
            </div>
          </div>
        </div>
 
        <div class="form-group mb-3">
          <label for="Site_latitude">Site Latitude</label>
          <input type="text" class="form-control" [value]="latitudeDMS" name="Latitude" formControlName="Latitude" id="Latitude" placeholder="Latitude">
        </div>
 
        <div class="form-group mb-3">
          <label for="Site_longitude">Site Longitude</label>
          <input type="text" class="form-control" [value]="longitudeDMS" name="Longitude" formControlName="Longitude" id="Longitude" placeholder="Longitude">
        </div>
        
        <div class="form-group mb-3">
          <label>Select Nearest Airport</label><br>
          <div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="autoSelect" formControlName="selectionMode" value="default">
              <label class="form-check-label" for="autoSelect">Auto-Select</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="manualSelect" formControlName="selectionMode" value="manual">
              <label class="form-check-label" disabled for="manualSelect">Enter nearest Airport</label>
            </div>
          </div>
        </div>
        
        <div *ngIf="TopElevationForm.get('selectionMode')?.value === 'manual'">
          <div class="form-group mb-3">
            <label for="airportCITY">City</label>
            <select class="form-select" id="airportCITY" formControlName="CITY">
              <option value="" disabled>Select a City</option>
              <option *ngFor="let airport of airports" [value]="airport.airport_city">
                {{ airport.airport_city }}
              </option>
            </select>
          </div>
          
          <div class="form-group mb-3">
            <label for="airportName">Airport Name</label>
            <input type="text" class="form-control" name="airportName" id="airportName" [value]="selectedAirportName" placeholder="Airport Name" readonly>
          </div>
        </div>
        
        <div class="form-group mb-3">
          <label>Select Site Elevation</label><br>
          <div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="unknown" formControlName="elevationOption" value="unknown" (change)="onElevationOptionChange()">
              <label class="form-check-label" for="unknown">Use airport elevation</label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="known" formControlName="elevationOption" value="known">
              <label class="form-check-label" for="known" disabled>Enter site elevation manually</label>
            </div>
          </div>
        </div>
        
        <div class="form-group mb-3">
          <label for="Site_Elevation">Site Elevation</label>
          <div class="input-group">
            <input type="number" class="form-control" name="Site_Elevation" id="Site_Elevation" formControlName="Site_Elevation" placeholder="Site Elevation">
            <span class="input-group-text"><i class="text-primary bi bi-pencil-fill"></i></span>
          </div>
        </div>
        
        <div class="d-grid gap-2 button-Top">
          <button type="submit" class="btn btn-outline-primary rounded-5 py-2 px-4" (click)="submitForm()">Submit</button>
        </div>
      </form>
    </div>
    
    <div class="col-lg-10">
      <div class="map-container">
        <div id="map" style="height: 90vh; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

 
<div class="modal" id="airportModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Your site location is near the following airports. Please select closest airport:</h2>
      </div>
      <div class="modal-body">
        <div id="airportList">
          <div *ngFor="let airport of closestAirportList; let i = index">
            {{ i + 1 }}.
            <input type="checkbox" class="closest-airport-checkbox" [attr.data-airport-city]="airport.airportCity"
              [attr.data-airport-name]="airport.airportName" [attr.data-distance]="airport.distance"
              (change)="updateSelectedAirport(airport.airportCity, airport.airportName, airport.distance)">
            {{ airport.airportName }}
            <br>
          </div>
        </div>
        <div class="d-grid gap-2 button-Top">
          <button type="button" class="btn btn-outline-primary rounded-5" (click)="handleAirportModalOK()">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div class="modal" id="insideMapData" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Site Location Details</h2>
        <button type="button" class="btn-close" (click)="closeModal('insideMapData')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td scope="row"><b>Permissible Elevation (AMSL Above Mean Sea Level)</b></td>
              <td>{{ isSubscribed ? insideMapData.elevation : '***' }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Permissible Height (AGL - Above Ground Level)</b></td>
              <td>{{ isSubscribed ? insideMapData.permissibleHeight + 'M' : '***' }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Site Location</b></td>
              <td colspan="2">Latitude: {{ isSubscribed ? insideMapData.latitudeDMS : '***' }}<br> Longitude: {{
                isSubscribed ? insideMapData.longitudeDMS : '***' }}
              </td>
            </tr>
            <tr>
              <td scope="row"><b>Distance (Site Location from ARP)</b></td>
              <td colspan="2">{{ isSubscribed ? insideMapData.newDistance + ' km' : '***' }}</td>
            </tr>
          </tbody>
        </table>
        <div id="SubscribePlans" [style.display]="isSubscribed ? 'none' : 'block'">
          <h3>To get the complete result, upgrade your account with our subscription plans. If you prefer not to
            subscribe, you can make a one-time payment to get the result.</h3>
          <button type="button" class="btn btn-outline-primary rounded-5" (click)="subscribe()">Subscribe</button>
          <button type="button" class="btn btn-outline-primary rounded-5" (click)="MakePayment()">Make Payment</button>
        </div>
      </div>
      <div class="modal-footer">
        <p>We wish you success in your project. Our range of services will assist you in WGS-84 Survey, NOC process
          support, Aeronautical study & Assessment. Please connect for details.</p>
        <button type="button" class="btn btn-outline-primary rounded-5" routerLink="/request-Service">Check-Out
          Now</button>
      </div>
    </div>
  </div>
</div>
 
<div class="modal" id="outsideMapData" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Site Location Details</h2>
        <button type="button" class="btn-close" (click)="closeModal('outsideMapData')" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <b>Site location selected by the user is outside {{ outsideMapData.airport_name }} CCZM boundary published by
            AAI. Permissible Elevation calculation could not be processed. Please contact us for further
            details.</b><br><br>
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Site Location</th>
                <td colspan="2">Latitude: {{ isSubscribed ? outsideMapData.latitudeDMS : '***' }}<br> Longitude: {{
                  isSubscribed ? outsideMapData.longitudeDMS : '***' }}</td>
              </tr>
              <tr>
                <th scope="row">Distance (Site Location from ARP)</th>
                <td colspan="2">{{ isSubscribed ? outsideMapData.newDistance + ' km' : '***' }}</td>
              </tr>
            </tbody>
          </table>
          <div id="SubscribePlans" [style.display]="isSubscribed ? 'none' : 'block'">
            <h3>To get the complete result, upgrade your account with our subscription plans. If you prefer not to
              subscribe, you can make a one-time payment to get the result.</h3>
            <button type="button" class="btn btn-outline-primary rounded-5" (click)="subscribe()">Subscribe</button>
            <button type="button" class="btn btn-outline-primary rounded-5" (click)="MakePayment()">Make
              Payment</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p>We wish you success in your project. Our range of services will assist you in WGS-84 Survey, NOC process
          support, Aeronautical study & Assessment. Please connect for details.</p>
        <button type="button" class="btn btn-outline-primary rounded-5" routerLink="/request-Service">Check-Out
          Now</button>
      </div>
    </div>
  </div>
</div>