<main id="main" class="main">
  <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
          </ol>
      </nav>
  </div><!-- End Page Title -->

  <!-- Three buttons in one line -->
  <div class="row">
      <div class="col">
          <button class="btn btn-primary" (click)="detailsOfPermissible()">Details Of Permissible</button>
      </div>
      <div class="col">
          <button class="btn btn-primary">Details Of Subscription</button>
      </div>
      <div class="col">
          <button class="btn btn-primary">Details of Cross Sale Form</button>
      </div>
  </div>
</main>
