<section>
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-xxl-4 col-lg-4 col-md-6 mb-4">
        <div class="card ">
          <div class="text-end">
            <img src="assets/arrow.png" (click)="detailsOfPermissible()" style="height: 63px; width: 63px">
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"></ul>
          </div>
          <div class="card-body">
            <h3 class="card-title">Permissible Details</h3>
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center justify-content-center">
                <img src="assets/construction.png" alt="" class="construction-img" style="height: 63px; width: 63px">
              </div>
              <div class="ps-3">
                <h1>{{permissibleRowCount}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="text-end">
            <img src="assets/arrow.png" (click)="detailsOfSubscription()" style="height: 63px; width: 63px">
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"></ul>
          </div>
          <div class="card-body">
            <h3 class="card-title">Subscription Details</h3>
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center justify-content-center">
                <img src="assets/membership.png" alt="" class="member-img" style="height: 63px; width: 63px">
              </div>
              <div class="ps-3">
                <h1>INR {{ totalSubscriptionPrice }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="text-end">
            <img src="assets/arrow.png" (click)="detailsOfServices()" style="height: 63px; width: 63px">
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"></ul>
          </div>
          <div class="card-body">
            <h3 class="card-title">Cross Sale Form Details</h3>
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center justify-content-center">
                <img src="assets/request.png" alt="" class="request-img" style="height: 63px; width: 63px">
              </div>
              <div class="ps-3">
                <h1>{{serviceRowCount}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <mat-form-field *ngIf="showPermissibleDetails">
      <mat-label>Filter Permissible Details</mat-label>
      <input matInput (keyup)="applyPermissibleFilter($event)" placeholder="Ex. city" #permissibleInput>
    </mat-form-field>
    <div *ngIf="showPermissibleDetails">
      <mat-table [dataSource]="permissibleDataSource" class="mat-elevation-z8" multiTemplateDataRows>
        <ng-container matColumnDef="city">
          <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="airport_name">
          <mat-header-cell *matHeaderCellDef> Airport Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.airport_name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="expand">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="toggleRow(element)">
              <mat-icon>{{ expandedElement === element ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="download">
          <mat-header-cell *matHeaderCellDef> Download </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="downloadPDF(element)">
              <mat-icon>download</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="permissibleDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: permissibleDisplayedColumns;"
          [class.expanded-row]="expandedElement === row"></mat-row>
        <ng-container matColumnDef="expandedDetail">
          <mat-cell *matCellDef="let element" [attr.colspan]="permissibleDisplayedColumns.length">
            <div *ngIf="expandedElement === element">
              <div><strong>Name:</strong> {{ this.apiservice.userData.uname }}</div>
              <div><strong>Site Latitude:</strong> {{element.latitude}}</div>
              <div><strong>Site Longitude:</strong> {{element.longitude}}</div>
              <div><strong>Site Elevation:</strong> {{element.site_elevation}}</div>
              <div><strong>Distance From ARP:</strong> {{element.distance}}</div>
              <div><strong>Permissible Height (AGL):</strong> {{element.permissible_height}}</div>
              <div><strong>Permissible Elevation (AMSL):</strong> {{element.permissible_elevation}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="expanded-row"
          [style.display]="expandedElement === row ? 'table-row' : 'none'"></mat-row>
      </mat-table>
      <mat-paginator #permissiblePaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <mat-form-field *ngIf="showSubscriptionDetails">
      <mat-label>Filter Subscriptions</mat-label>
      <input matInput (keyup)="applySubscriptionFilter($event)" placeholder="Ex. type" #subscriptionInput>
    </mat-form-field>
    <div class="mat-elevation-z8" *ngIf="showSubscriptionDetails">
      <mat-table [dataSource]="subscriptionDataSource" multiTemplateDataRows>
        <ng-container matColumnDef="subscription_id">
          <mat-header-cell *matHeaderCellDef> Subscription ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.subscription_id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="subscription_status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="{
          'status-active': element.subscription_status === 'Active',
          'status-inactive': element.subscription_status === 'Inactive',
          'status-expired': element.subscription_status === 'Expired'
        }">
            {{element.subscription_status}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef> Active Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdAt}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="expiry_date">
          <mat-header-cell *matHeaderCellDef> Expiry Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.expiry_date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="subscription_type">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.subscription_type}} </mat-cell>
        </ng-container>
        <mat-header-row
          *matHeaderRowDef="['subscription_id', 'subscription_status','createdAt','expiry_date','price', 'subscription_type']"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: ['subscription_id', 'subscription_status','createdAt','expiry_date','price', 'subscription_type'];"></mat-row>
      </mat-table>
    </div>
    <mat-form-field *ngIf="showServiceDetails">
      <mat-label>Filter Service Details</mat-label>
      <input matInput (keyup)="applyServiceFilter($event)" placeholder="Ex. Name" #serviceInput>
    </mat-form-field>
    <div *ngIf="showServiceDetails">
      <div class="table-responsive">
        <table *ngIf="serviceDetails && serviceDetails.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Service Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of serviceDetails">
              <td>{{ this.apiservice.userData.uname }}</td>
              <td>
                <ul>
                  <li *ngFor="let serviceKey of getServiceKeys(request.services)">
                    {{ serviceNames[serviceKey] }}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="serviceDetails && serviceDetails.length === 0" class="alert alert-warning" role="alert">No services
          found.</div>
      </div>
    </div>
  </div>
</section>
 
 
 
 
