.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #4682B4 50%, transparent 50%);
}
 
.container-fluid {
  text-align: center;
  padding: 20px;
  z-index: 2; /* Ensure content is above the background */
}
 
.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 
.plan {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s;
}
 
.plan img {
  width: 150px;
  height: auto;
  border-radius: 8px;
}
 
.plan h2 {
  margin-top: 10px;
}
 
.plan p {
  font-size: 1.2em;
  color: #333;
}
 
.plan ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
 
.plan ul li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.plan ul li i {
  margin-right: 10px;
}
 
 
 
 
.plan:hover {
  transform: scale(1.05);
}
 
@media (max-width: 768px) {
  .plan {
      width: 45%;
  }
}
 
@media (max-width: 480px) {
  .plan {
      width: 100%;
  }
}
 