<footer>
    <div class="inside__footer">
        <p class="copyright">
            &copy;
            2024 <a href="https://www.cognitivenavigation.com/"><b>Cognitive Navigation Pvt. Ltd.</b></a> All Rights
            Reserved.
        </p>
        <div class="social">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                <i class="bi bi-linkedin icon instagram"></i></a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                <i class="bi bi-instagram icon instagram"></i></a>
            <a href="https://twitter.com/" target="_blank" rel="noopener">
                <i class="bi bi-twitter-x icon twitter"></i></a>
        </div>
    </div>
</footer>