<main id="main" class="main">
  <div class="pagetitle">
    <nav></nav>
  </div>

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6 mb-4">
            <div class="card info-card sales-card">
              <div class="filter">
                <img src="assets/arrow.png" (click)="getAllUsers()" alt="" class="request-img transparent-img"
                  style="height: 63px; width: 63px">
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"></ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Users Details</h5>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/construction.png" alt="" class="construction-img"
                      style="height: 63px; width: 63px">
                  </div>
                  <div class="ps-3">
                    <h6>145</h6>
                    <span class="text-success small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">increase</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Sales Card -->

          <!-- Subscription Details Card -->
          <div class="col-xxl-4 col-md-6 mb-4">
            <div class="card info-card revenue-card">
              <div class="filter">
                <img src="assets/arrow.png"  (click)="getAllSubscriptions()"  class="request-img transparent-img"
                  style="height: 63px; width: 63px">
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"></ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Subscription Details</h5>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/membership.png" alt="" class="member-img" style="height: 63px; width: 63px">
                  </div>
                  <div class="ps-3">
                    <h6>$3,264</h6>
                    <span class="text-success small pt-1 fw-bold">8%</span> <span
                      class="text-muted small pt-2 ps-1">increase</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Subscription Details Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12 mb-4">
            <div class="card info-card customers-card">
              <div class="card-body">
                <div class="filter">
                  <a class="arrow-icon" (click)="getAllPermissible()" data-bs-toggle="dropdown">
                    <img src="assets/arrow.png"  class="request-img transparent-img"
                      style="height: 63px; width: 63px">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"></ul>
                </div>
                <h5 class="card-title">Permissible Details</h5>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/request.png" alt="" class="request-img" style="height: 63px; width: 63px">
                  </div>
                  <div class="ps-3">
                    <h6>1244</h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">decrease</span>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Customers Card -->

        </div>
      </div>
    </div>
  </section>


  <mat-form-field *ngIf="showUserDetails">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <div class="mat-elevation-z8" *ngIf="showUserDetails">
    <table mat-table [dataSource]="dataSource">
  
      <!-- User Table Columns -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
      </ng-container>
      <ng-container matColumnDef="uname">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{ user.uname }} </td>
      </ng-container>
      <ng-container matColumnDef="phone_number">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let user"> {{ user.phone_number }} </td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let user"> {{ user.address }} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20,]" showFirstLastButtons></mat-paginator>
  </div>
  


<!-- Subscription Details Table -->
<mat-form-field *ngIf="showSubscriptionDetails">
  <mat-label>Filter Subscriptions</mat-label>
  <input matInput (keyup)="applySubscriptionFilter($event)" placeholder="Ex. type" #subscriptionInput>
</mat-form-field>

<div class="mat-elevation-z8" *ngIf="showSubscriptionDetails">
  <div class="mat-elevation-z8" *ngIf="showSubscriptionDetails">
    <mat-table [dataSource]="subscriptionDataSource" multiTemplateDataRows>
      <!-- Subscription ID Column -->
      <ng-container matColumnDef="subscription_id">
        <mat-header-cell *matHeaderCellDef> Subscription ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.subscription_id}} </mat-cell>
      </ng-container>
  
      <!-- Subscription Status Column -->
      <ng-container matColumnDef="subscription_status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.subscription_status}} </mat-cell>
      </ng-container>
  
      <!-- Subscription Type Column -->
      <ng-container matColumnDef="subscription_type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.subscription_type}} </mat-cell>
      </ng-container>
  
      <!-- Expand Button Column -->
      <ng-container matColumnDef="expand">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="toggleRow(element)">
            <mat-icon>expand_more</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="['subscription_id', 'subscription_status', 'subscription_type', 'expand']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['subscription_id', 'subscription_status', 'subscription_type', 'expand'];"></mat-row>
  
      <!-- Expanded Row -->
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element">
          <div *ngIf="expandedElement === element">
            <div><strong>User ID:</strong> {{element.user_id}}</div>
            <div><strong>Price:</strong> {{element.price}}</div>
            <div><strong>Payment ID:</strong> {{element.razorpay_payment_id}}</div>
            <div><strong>Expiry Date:</strong> {{element.expiry_date}}</div>
          </div>
        </mat-cell>
      </ng-container>
      <mat-row *matRowDef="let row; columns: ['expandedDetail'];" [class.expanded-row]="expandedElement === row"></mat-row>
    </mat-table>
  
    <mat-paginator #subscriptionPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
</div>


<!-- Permissible Details Table -->
<mat-form-field *ngIf="showPermissibleDetails">
  <mat-label>Filter Permissible Details</mat-label>
  <input matInput (keyup)="applyPermissibleFilter($event)" placeholder="Ex. city" #permissibleInput>
</mat-form-field>

<div class="mat-elevation-z8" *ngIf="showPermissibleDetails">
  
  <div class="mat-elevation-z8" *ngIf="showPermissibleDetails">
    <mat-table [dataSource]="permissibleDataSource" multiTemplateDataRows>
      <!-- Request ID Column -->
      <ng-container matColumnDef="request_id">
        <mat-header-cell *matHeaderCellDef> Request ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.request_id}} </mat-cell>
      </ng-container>
  
      <!-- City Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
      </ng-container>
  
      <!-- Airport Name Column -->
      <ng-container matColumnDef="airport_name">
        <mat-header-cell *matHeaderCellDef> Airport Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.airport_name}} </mat-cell>
      </ng-container>
  
      <!-- Expand Button Column -->
      <ng-container matColumnDef="expand">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="toggleRow(element)">
            <mat-icon>expand_more</mat-icon>
          </button>
          
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="permissibleDisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: permissibleDisplayedColumns;"></mat-row>
  
      <!-- Expanded Row -->
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element">
          <div *ngIf="expandedElement === element">
            <div><strong>User ID:</strong> {{element.user_id}}</div>
            <div><strong>Latitude:</strong> {{element.latitude}}</div>
            <div><strong>Longitude:</strong> {{element.longitude}}</div>
            <div><strong>Site Elevation:</strong> {{element.site_elevation}}</div>
            <div><strong>Distance:</strong> {{element.distance}}</div>
            <div><strong>Permissible Height (AGL):</strong> {{element.permissible_height}}</div>
            <div><strong>Permissible Elevation (AMSL):</strong> {{element.permissible_elevation}}</div>
            <div><strong>Snapshot:</strong> {{element.snap_shot}}</div>
          </div>
        </mat-cell>
      </ng-container>
      <mat-row *matRowDef="let row; columns: ['expandedDetail'];" [class.expanded-row]="expandedElement === row"></mat-row>
    </mat-table>
  
    <mat-paginator #permissiblePaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
</div>
