/* Style for the login form */
.flex-r.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  max-width: 380px;
}

.flex-r.login-wrapper {
  max-width: 400px;
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-text h1 {
  margin-bottom: 10px;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  font-weight: bold;
}

.input {
  position: relative;
}

.input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.input i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #495057;
  font-size: 1.2em;
}

.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-top: 5px;
  border-radius: 5px;
}

.alert strong {
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn.btn-outline-primary {
  color: #007bff;
  border: 1px solid #007bff;
}

.btn.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.login-text p {
  margin-bottom: 20px;
  text-align: center;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
}