body {
    font-size: 140%;
   
  }
  .custom-table {
    margin-top: 20px; /* Adjust the spacing as needed */
}

  h2 {
    text-align: center;
    padding: 20px 0;
  }
  .table-container table tbody td:first-child {
    width: 50%;
  }
  
  table caption {
    padding: .5em 0;
  }
  
  table.dataTable th,
  table.dataTable td {
    white-space: nowrap;
  }
  
  
  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }
  
  .table-container table {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
  }
  